/**General**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid #ff0000;
}

/**Header**/



.navigation-bar {
    background-color: #255EE9;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

.padding {
    padding: 10px;
}

li {
    list-style: none;
    padding: 15px 35px;
    color: white;
}

button {
    border-radius: 20px;
    border: 0;
    width: 80px;
    height: 40px;
    color: #000000;
    background-color: #ffffff;
}

.content {
    max-width: 60%;
    margin: 0% auto;

}

.padding {
    padding: 15px 0;
}

section {
    border: 1px solid rgb(255, 0, 0);
    max-width: 60%;
    margin: 0% auto;
}

main div {
    border: 1px solid red;
}

section div {
    border: 1px solid red;

}

.flex {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row-reverse;
}

.image {
    width: 60%;
}

.place {
    width: 40%;
}

.content {
    width: 80%;
    margin: 0 auto;
}