/**General**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid #ff0000;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.padding {
    padding: 10px 0;
}



.content {
    margin: 0 auto;
}

.margin{
    margin-bottom: 20px;
}

h1{
    margin-bottom: 25px;
}

.bgcolor-grey{
background-color: #e6e5e5;
}

/* Formattazione Testo */

li {
    list-style: none;
    padding: 15px 20px;
    color: white;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

section p{
    color: white;
    font-size: 20px;
    word-spacing: 4px;
    padding-top: 10px;
}

h2{
    font-size: 45px;
    padding-bottom: 27px;
}

p{
    line-height: 5px;
    padding: 20px;
}


/** Inizio Header**/

.navigation-bar {
    background-color: #255EE9;
}

.bgimage{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 659px;
    }

/* Bottoni */

.nav-button{
background-color: white;
font-size: 15px;
border: 0;
width: 70px;
border-radius: 30px;
padding: 8px;
}

.button{
    text-align: center;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button1{
    border-radius: 50px;
    color: #000000;
    background-color: #ffffff;
    border: 0;
    width: 180px;
    height: 40px;
    font-size: 15px;
}

.button2{
    border-radius: 50px;
    color: #000000;
    background-color: #ffffff;
    border: 0;
    width: 230px;
    height: 40px;
    font-size: 15px;
    background-color: #23272A;
    color: white;
}

.gap{
gap: 15px;
}

/* Fine Header */

.content {
    max-width: 60%;
    margin: 0% auto;

}


section {
    max-width: 60%;
    margin: 0% auto;
}

main div {
    border: 1px solid red;
    margin: 80px 0;
}

.row {
    display: flex;
    flex-direction: row-reverse;
}

.image {
    width: 60%;
}

.place {
    width: 40%;
}

.center{
    text-align: center;
}


.text{
    
}